{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Tous les sports...</h1>
    <ul>
        <li><h2>Football</h2></li>
        <li><h2>Basketball</h2></li>
        <li><h2>Tennis</h2></li>
        <li><h2>Hockey sur glace</h2></li>
        <li><h2>Chocoweek</h2></li>
    </ul>
{% endblock %}